@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <header>
        <img id="logo" alt="Image" src="~/images/aldg.jpg"
             class="img-fluid rounded" />
        <h1 class="border-bottom box-shadow mb-3">Welcome to Carl's Watches</h1>
    </header>
<main>
    <div class="row"> @*one div class=row needed to put text in 2 columns*@
        <p class="col-md-5">
            With this web application a user will not only be able to look through the stores inventory, but also chat with staff who are there to provide necessary assistance.
            A customer will be able to sort through different filter fields about what they are looking for. Anywhere from different brands, price, features, etc.
            In doing so the user can find what specifc watch they are looking for.
        </p>
   @*  These lines should be deleted
       </div>
    <div class="row"> *@
        <p class="col-md-7">
            A user can also inquire about selling a watch or trading a watch towards another.
            It would be considered grey market because the store and web application would not be an authorized dealer of the brands. In doing so customers may be able to
            find a better price for a slightly used watch compared to buying brand new.
        </p>
    </div>
    
    </main>
</div>
